<ion-view title="Download Filmey PRO" id="page3">
  <ion-content padding="true" class="has-header">
    <h3 id="downloadFilmeyPRO-heading3" style="color:#000000;text-align:center;">Filmey PRO App</h3>
    <div>
      <img src="img/7gutfo1vQ2FTmtTxDZCg_Subscribe_pro_app.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="downloadFilmeyPRO-list3">
      <ion-item class="item-icon-right balanced" id="downloadFilmeyPRO-list-item28">كل مميزات Filmey
        <i class="icon ion-android-checkbox"></i>
      </ion-item>
      <ion-item class="item-icon-right balanced" id="downloadFilmeyPRO-list-item29">امكانية تحميل الأفلام
        <i class="icon ion-android-checkbox"></i>
      </ion-item>
    </ion-list>
    <button id="downloadFilmeyPRO-button8" class="button button-assertive  button-block">Download</button>
  </ion-content>
</ion-view>