<ion-view title="Filmey" id="page1" style="background-color:#C8DDE4;">
  <ion-content padding="false" class="has-header">
    <form id="filmey-form2" class="list">
      <label class="item item-input" id="filmey-search2" name="search_bar">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="search">
      </label>
    </form>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="filmey-slider1" style="width:100%;height:40%;">
      <ion-slide-page id="filmey-slide25" style="background:url(&quot;img/hCCqv0o3Sc28b9dGVUPF_2017_movies_landscape.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="filmey-slide27" style="background:url(&quot;img/DsfMxc52StugX7cX3NgL_landscape_movies.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="filmey-slide28" style="background:url(&quot;img/yECZpbmXRsGk8Gb2bCwt_landscape_movies.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="filmey-slide29" style="background:url(&quot;img/lKU959jjS4PS7zTqlM7K_landscape_movies.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="filmey-slide26" style="background:url(&quot;img/pMjF5aXJTrKES6cdgbrF_landscape_movies.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="filmey-slide24" style="background:url(&quot;img/aMjn3dnNRVGJH5ZxdkiB_landscape_movies.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <div id="filmey-container1">
      <a class="list card" style="display:block;text-decoration:none;" ui-sref="side-menu21.movie_info" id="filmey-card21">
        <ion-item class="item-icon-left assertive" id="filmey-list-item8" ui-sref="side-menu21.movie_info">
          <i class="icon ion-ios-videocam"></i>Split</ion-item>
        <div class=" item item-image">
          <img src="img/OmwvPLQwKgvyNOgQadjA_split_movie.jpg" style="display: block; width: 100%; margin-left: auto; margin-right: auto;">
        </div>
        <div class="item item-body" id="filmey-list-item-container2">
          <div id="filmey-markdown2" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">
              <strong>TRAGEDY/ACTION</strong>
            </p>
          </div>
        </div>
        <ion-item class="item-icon-left item-icon-right assertive" id="filmey-list-item9" ui-sref="side-menu21.movie_info">
          <i class="icon ion-android-star"></i>
          <span class="item-note">عرض المزيد</span>
          <i class="icon ion-android-more-horizontal"></i>
        </ion-item>
      </a>
    </div>
  </ion-content>
</ion-view>