<ion-view title="movie_info" id="page4">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/2q2rstfaQUqTh1aCbhMa_split_movie.jpg" style="display: block; width: 100%; height: 200px; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/J3ZV1Wc2S1uNFJ3i35AQ_5.png" style="display: block; width: 95%; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="movie_info-heading2" style="color:#000000;">Movie name:</h3>
    <div id="movie_info-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Simple brief
        <strong>markdown</strong>
        Listen free unlimited music. http://urmusiczone.com Get a free access to any song or album you want with urmusiczone.com. Play your favorite games. https://www.iceboxfun.com Sign up for free and access the web's biggest library of playable content of
        over 7000 games. Tv Shows, Music, E-books online https://gamezmelt.com Play Games, Read Books, Watch Movies Instantly Online Résultats de recherche Ionic Creator https://creator.ionic.io/ Traduire cette page Welcome back! Sign in with your Ionic
        ID to continue. Email address. Password. Sign in to Creator. Forgot password? Don't have an account? Get started. Ionic Creator Creator is a drag-&amp;-drop prototyping tool for creating ... Get started The easiest way to build mobile apps. Sign
        up free, no card ... Autres résultats sur ionic.io » Build great hybrid apps with the Ionic Creator | The Official Ionic Blog blog.ionic.io/ionic-creator/ Traduire cette page 29 juil. 2014 - By now, the cat's out of the bag on Ionic Creator, our
        upcoming drag-and-drop development tool for building beautiful hybrid apps with Ionic ...</p>
    </div>
    <button id="movie_info-button7" class="button button-assertive button-large button-block button-outline icon ion-aperture"> Official Trailler</button>
    <div ng-init="videourl_video2=&quot;https://www.youtube.com/embed/84TouqfIsiI?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="movie_info-video2">
      <iframe src="{{videourl_video2}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="height: 100px;"></div>
  </ion-content>
</ion-view>