<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21" style="background-color:#EEEEEE;">
    <ion-content padding="true" style="top:0px !important;" class="side-menu-left ">
      <ion-list id="side-menu21-list1">
        <ion-item class="item-icon-left calm" id="side-menu21-list-item1" ui-sref="side-menu21.filmey" menu-close="">
          <i class="icon ion-android-home"></i>Home</ion-item>
        <ion-item class="item-icon-left calm" id="side-menu21-list-item2" ui-sref="side-menu21.top10" menu-close="">
          <i class="icon ion-android-film"></i>Top 10 movies</ion-item>
        <ion-item class="item-icon-left assertive" id="side-menu21-list-item3" ui-sref="side-menu21.downloadFilmeyPRO" menu-close="">
          <i class="icon ion-android-download"></i>Download PRO</ion-item>
        <ion-item class="item-divider" id="side-menu21-list-item-divider1"> Social-media</ion-item>
        <ion-item class="item-icon-left positive" id="side-menu21-list-item4" href-inappbrowser="page5">
          <i class="icon ion-social-facebook"></i>Facebook</ion-item>
        <ion-item class="item-icon-left" id="side-menu21-list-item5" ui-sref="side-menu21.instagram_page" menu-close="">
          <i class="icon ion-social-instagram"></i>Instagram</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>