<ion-view title="Top 10" id="page2">
  <ion-content padding="true" class="has-header">
    <ion-list id="top10-list2">
      <ion-item class="item-thumbnail-left item-icon-right" id="top10-list-item13">
        <h2>Movie 1</h2>
        <p>simple brief</p>
        <i class="icon ion-android-checkmark-circle"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="top10-list-item16">
        <h2>movie 2</h2>
        <p>simple brief</p>
        <i class="icon ion-android-checkmark-circle"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="top10-list-item17">
        <h2>movie 3</h2>
        <p>simple brief</p>
        <i class="icon ion-android-checkmark-circle"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="top10-list-item18">
        <h2>movie 4</h2>
        <p>simple brief</p>
        <i class="icon ion-android-checkmark-circle"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="top10-list-item19">
        <h2>movie 5</h2>
        <p>simple brief</p>
        <i class="icon ion-android-checkmark-circle"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="top10-list-item22">
        <h2>movie 6</h2>
        <p>simple brief</p>
        <i class="icon ion-android-checkmark-circle"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="top10-list-item20">
        <h2>movie 7</h2>
        <p>simple brief</p>
        <i class="icon ion-android-checkmark-circle"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="top10-list-item21">
        <h2>movie 8</h2>
        <p>simple brief</p>
        <i class="icon ion-android-checkmark-circle"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="top10-list-item23">
        <h2>movie 9</h2>
        <p>simple brief</p>
        <i class="icon ion-android-checkmark-circle"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="top10-list-item24">
        <h2>movie 10</h2>
        <p>simple brief</p>
        <i class="icon ion-android-checkmark-circle"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>